
.error {
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    background-color: #f8a4a4;
}

.error h2 {
    font-size: 4rem;
}

.season {
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
}

.summer {
    background-color: #ffc800;
}

.winter {
    background-color: #f0f8ff;
}

.winter i {
    color: #0000ff;
}

.summer i {
    color: #ff5900;
}

.top-left-icon {
    position:absolute;
    top:15px;
    left:15px;
    padding: 10px;
}

.bottom-right-icon {
    position:absolute;
    bottom:15px;
    right:15px;
    padding: 5px;
}
